html {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 38px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    color: white;
}

h4 {
    font-size: 32px;
}

ul {
    list-style-type: none;
}
  /*positioning for the foot menu */
  .copyright {
      float: left;
  }

  .footnav {
      float: right;
  }

  .footnav li {
      float: left;
      padding-left: 10px;
  }

  /* header css */
  .fixednav {
    display: flex;
    flex-direction: row;
    align-items: center; /* aligns links vertically */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color:white;
    border-bottom: grey solid 1px;
    height: 64px;
  }
  
  .leftnav {
    flex-grow: 1; /* this is the important bit */
  }

  .leftnav a{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
  }
  
  
/* logo style */

.academy {
    color: rgb(209, 209, 209);
    font-size: 32px;
    font-weight: lighter;
}

.colmar {
    color: rgb(83, 83, 83);
    font-weight: bolder;
    font-size: 32px;
}

  /* Style the header links */
  .rightnav a {
    color: grey;
    margin-right: 16px;
    text-decoration: none;
    font-size: 18px;
    padding: 1px;
  }
  
  /* Change the background color on mouse-over */
  .rightnav a:hover {
    background-color: #ddd;
    color:grey;
  }
  
  /* Style the active/current link*/
  .rightnav a.active {
    background-color: dodgerblue;
    color: white;
  }

  .rightnav {
      margin-right: 24px;
  }